<div class="login-container flex">
  <div
    class="login-form flex flex-column justify-content-center align-items-center"
  >
    <app-login></app-login>
  </div>

  <div
    class="login-info flex flex-column justify-content-center align-items-center"
  >
    <div>
      <h3 class="animate-charcter">HotelCloud</h3>
    </div>
    <img src="assets/img/hotel-icon.jpg" alt="" />
    <p class="text-center">
      Mejora el desempeño de tu negocio con nuestro <br />
      sistema de reservas y servicios.
    </p>
  </div>
</div>
