form {
  input {
    width: 100%;
  }
  #password {
    width: 80%;
  }
  .input-password-form {
    margin-left: 10px;
  }
}
p-divider {
  span {
    color: rgb(168, 165, 165);
  }
}
.w-200 {
  width: 200px;
}
