.main-container {
  max-width: 100vw;
  height: 100vh;

  .container-cont {
    max-height: calc(100vh - 145px);
    width: 100vw;
  }

  .left {
    width: 15%;
    height: 100%;
  }

  .right {
    width: 85%;
    height: 100%;
    padding: 0 1rem;
  }
}
