:host ::ng-deep .p-slidemenu {
  width: 100%;
  background: var(--color-80);
  color: var(--blanco);
  border-radius: 0;
  border: 0;
  border-right: 2px solid var(--color-100);
  border-bottom: 2px solid var(--color-100);

  .p-menuitem-text,
  .p-menuitem-icon {
    color: var(--blanco);
  }
}
